.robot-container { 
  position: center;
  width: 500px;
  height: 500px;
  margin: auto;
  background: linear-gradient(to right, purple, red);
  border-radius: 100%;
  box-shadow: 5px 10px 20px rgba(3, 234, 45, 0.921);
}

.robot-face-shape {
  position: relative;
  top: 200px;
  left: 350px;
  transform: translateX(-100%);
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  border-radius:-200px;
  box-shadow: 0 2px 5px rgb(206, 13, 13);
}

.robot-eye-left 
 {
  position: absolute;
  top: 15px;
  left: 20%;
  width: 40px;
  height: 40px;
  background-color: green;
  border-radius: 0%;
  box-shadow: 0 10px 20px none;
}

.robot-eye-right { 
  position: absolute;
  background-color: none;
  top: 20px;
  right: 20%;
  width: 40px;
  height: 40px;
  background-color: none;
  border-radius: 25%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.705);
}

.triangle-up {
  position: absolute;
  top: 10px;
  left: 60%;
	width: 40px;
	height: 40px;
	border-left: 25px solid yellow;
	border-right: 25px solid whitesmoke;
	border-bottom: 50px solid #555;
  }

.robot-ear-left { 
  position: absolute;
  top: 50px;
  left: -40px;
  width: 40px;
  height: 100px;
  background-color: yellow;
  border-radius: 100px;
  box-shadow: 0 0px 5px rgba(223, 11, 11, 0.2);
}

.robot-ear-right {
  position: absolute;
  top: 50px;
  right: -40px;
  width: 40px;
  height: 100px;
  background-color: gray;
  border-radius: 10%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.robot-nose {
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-color: palevioletred;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.robot-teeth {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 40px;
  background-color: red;
  border-radius: 60px;
  box-shadow: 0 2px 5px rgba(229, 218, 218, 0.2);
}

.robot-tooth1 {
  position: absolute;
  top: 0px;
  left: 5px;
  transform: normal;
  width: 25px;
  height: 35%;
  background-color: white;
  border-radius: 50px;
  box-shadow: brown;
}
.robot-tooth2 {
  position: absolute;
  top: 0px;
  left: 30px;
  transform: normal;
  width: 25px;
  height: 35%;
  background-color: gold;
  border-radius: 50px;
  box-shadow: brown;
}
.robot-tooth3 {
  position: absolute;
  top: 0px;
  left: 55px;
  transform: normal;
  width: 25px;
  height: 35%;
  background-color: blue;
  border-radius: 50px;
  box-shadow: brown;
}

.robot-tooth4 {
  position: absolute;
  top: 0px;
  left: 80px;
  transform: normal;
  width: 15px;
  height: 35%;
  background-color: green;
  border-radius: 50px;
  box-shadow: brown;
}

.robot-hair-style {
  position: absolute;
  top: -100px;
  left: -100px;
  transform: none;
  width: 400px;
  height: 200px;
  background-color: transparent;
  border-radius: 0px;
  opacity: 0.5;
  box-shadow: green;
}
.robot-hair-one {
  position: absolute;
  top: 80px;
  left: 260px;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}
.robot-hair-two {
  position: absolute;
  top: 80px;
  left: 240px;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}
.robot-hair-three {
  position: absolute;
  top: 80px;
  left: 220px;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}
.robot-hair-four {
  position: absolute;
  top: 80px;
  left: 200px;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}
.robot-hair-five {
  position: absolute;
  top: 80px;
  left: 180px;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}
.robot-hair-six {
  position: absolute;
  top: 80px;
  left: 160px;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}
.robot-hair-seven {
  position: absolute;
  top: 80px;
  left: 140px;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}
.robot-hair-eight {
  position: absolute;
  top: 80px;
  left: 120px;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}
.robot-hair-nine {
  position: absolute;
  top: 80px;
  left: 100px;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}
