.legal-header {
  position: fixed;
  background-color: white;
  padding: 10px;
  margin-top: 60px;
  width: 100%;
}

.legal-header h1 {
  width: 100%;
  max-width: 900px;
  margin: 100;
  justify-content: space-between;
}

main { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

section {
  display: flex;
  gap: 100px;
  position: static;
  top: 60px;
  border-bottom: 1px solid grey;
  padding: 30px;
  max-width: 900px;
  margin: 0 auto;
  color: white;
}

.section-label1 {
  position: sticky;
  display: static;
  top:20%;
  left: 25px;
  width: 15%;
  background-color: #2b2d3b;
  height: 10%;
  padding: 10px 16px;
}
.section-label2 {
  position: sticky;
  display: static;
  top:20%;
  left: 25px;
  width: 15%;
  background-color: #2b2d3b;
  height: 10%;
  padding: 10px 16px;
}

.section-label3 {
  position: sticky;
  display: fixed;
  top:20%;
  left: 25px;
  width: 15%;
  background-color: #2b2d3b;
  height: 10%;
  padding: 10px 16px;
}

.document-content {
  display: fixed;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
  line-height: 28px;
}

.document-content p {
  display: fixed;
  line-height: 28px;

}

.document-content ol {
  display: fixed;
  margin: 0;
  padding-left: 40px;
}

.document-content li {
  display: fixed;
  line-height: 28px;
}

footer {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: #e2e2e2;
  padding: 0 0px;
  min-height: 40px;
}

.footer-content {
  width: 100%;
  max-width: 900px;
  display: flex;
  position: absolute;
  gap: 0px;
  justify-content: normal;
  align-items: center;
  margin: 0 auto;
}

.agree-btn {
  padding: 10px 16px;
  font-weight: bold;
  background-color: blueviolet;
  outline: none;
  border: none;
  color: black;
  cursor: grab;
  transition: all 0.4s ease-in-out;
}

.agree-btn:disabled {
  background-color: grey;
  color: black;
  cursor: not-allowed;
}
